#login #login-row #login-column #login-box {
    max-width: 600px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
}
#login #login-row #login-column #login-box #login-form {
    padding: 20px;
}
.validate-error-text{
    color: red;
}
